<div class="footer">
    <div>
        <h2>Opening hours</h2>
        <p>Monday Closed</p>
        <p>Tuesday 18.00-00.00</p>
        <p>Wednesday 18.00-00.00</p>
        <p>Thursday 18.00-00.00</p>
        <p>Friday 18.00-00.00</p>
        <p>Saturday 12.00-00.00</p>
        <p>Sunday 12.00-22.00</p>
    </div>

    <div>
        <h2>Visit</h2>
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/contact">Contact us</a>
    </div>
</div>