<ul class="movie-list">
    <h1>Current movies</h1>
    {{#each movies}}
    <li>
        <a href="/movies/{{ this.id }}">
        {{ this.attributes.title }}
        </a>
    </li>
    {{/each}}
</ul>