.about-us-body {
    height: 100%;
    .background__raining {
        opacity: 0.7;;
    }
    p {
        margin: 0.5em 35% 2em 35%;
        text-align: left;
    }
    h2 {
        margin-top: 1em;
    }
}
